[Unit]
Description=${PROJECT_NAME_DISPLAY}
After=network.target

[Service]
Type=simple
User=tcego
Group=tcego
WorkingDirectory=${ROOT_BACKEND}
Environment="PATH=${ROOT_BACKEND}/venv/bin:/usr/local/bin:/usr/bin:/bin"

ExecStart=${ROOT_BACKEND}/scripts/run.sh
Restart=always
RestartSec=${RESTART_SEC}
StandardOutput=journal
StandardError=journal
SyslogIdentifier=${PROJECT_NAME}

[Install]
WantedBy=multi-user.target
